.description {
    max-height: 250px;
    overflow: auto;
    white-space: pre-line;
    overflow-wrap: break-word;
    line-height: 1.5em;
    padding: 0.5rem;
    margin: 5px 0 8px 0;
    border: 1px solid rgb(217, 227, 242);
    background-color: rgb(229, 240, 255);
    border-radius: 0.5rem;
}

.description a {
    font-weight: bold;
    text-decoration: none;
}

[theme="dark"] .description {
    border-color: rgb(37, 41, 50);
    background-color: rgb(34, 39, 46);
}

.header {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.divider {
    margin-top: 8px;
}

.project-link {
    margin-bottom: 2px;
}
