.template {
    color: #4af;
    color: #ff4d4d;
    color: #61ad43;
    color: #75b450;
    color: #87bc62;

    color: hsl(215, 100%, 65%, 1);
    color: hsla(215, 60%, 50%, 1);
    color: hsl(215, 0%, 20%);
    color: hsl(215, 100%, 95%);
    color: hsl(215, 75%, 95%);
    color: hsl(215, 50%, 90%);

    color: hsl(225, 15%, 40%);

    color: hsl(163, 85%, 40%);
    color: hsl(163, 85%, 30%);
    color: hsl(163, 57%, 85%);

    color: hsl(215, 100%, 77%);

    color: hsl(215, 100%, 95%);
    color: hsl(215, 75%, 95%);
    color: hsl(215, 50%, 90%);

    color: hsl(215, 100%, 65%);
    color: hsla(215, 0%, 20%, 1);
    color: hsla(0, 0%, 34%, 1);

    /* Dachmarke */

    /* Schriftfarbe im Logo: grau */
    color: #f2f2f2;
    color: #e2e2e2;
    color: #d2d2d2;
    color: #c3c3c3;
    color: #b2b2b2;
    color: #a2a2a1;
    color: #919190;
    color: #7e7e7e;
    color: #6b6b6a;
    color: #575757;

    /* Hausfarbe Blau */
    color: #eaeff8;
    color: #d4def0;
    color: #bfcee8;
    color: #a7bedf;
    color: #8fafd7;
    color: #749fce;
    color: #5891c6;
    color: #3783bd;
    color: #2177b5;
    color: #1e6bac;

    /* Hausfarbe Türkis */
    color: #f6fafb;
    color: #ecf5f7;
    color: #e1eff2;
    color: #d6e9ed;
    color: #cde5e8;
    color: #c1dfe3;
    color: #b5dadf;
    color: #a8d3d9;
    color: #9cced4;
    color: hsl(187, 40%, 69%);

    /* Fachbereich Technik */
    color: hsl(93, 36%, 95%);
    color: hsl(93, 38%, 90%);
    color: hsl(90, 38%, 84%);
    color: #c8deb4;
    color: #b9d5a0;
    color: #aacc8b;
    color: #9ac477;
    color: #89bc64;
    color: #76b452;
    color: #62ad44;
    color: #5ea82d;
    /* Farbverlauf für Flyer */
    color: #50f207;
    color: #11aa07;

    /* Fachbereich Wirtschaft */
    color: #fbc23a;
    /* Farbverlauf für Flyer */
    color: #ffba2b;
    color: #f29900;

    /* Fachbereich Soziale Arbeit und Gesundheit */
    color: #932335;
    /* Farbverlauf für Flyer */
    color: #87033d;
    color: #cf0055;

    /* Fachbereich Technik */
    color: #5ea82d;
    /* Farbverlauf für Flyer */
    color: #50f207;
    color: #11aa07;

    /* Institut für Seefahrt */
    color: #003b5f;
    /* Farbverlauf für Flyer */
    color: #0a336e;
    color: #0057c3;

    /* Dachmarke */

    /* Hausfarbe Blau */
    color: #005da4;
    /* Farbverlauf für Flyer */
    color: #0080f2;
    color: #0057c3;

    /* Hausfarbe Türkis */
    color: #8ac6cb;
    /* Farbverlauf für Flyer */
    color: #80f2cc;
    color: #57e6b0;

    /* Schriftfarbe im Logo: grau */
    color: #575757;
    /* Für Flyer */
    color: #333333;

    /* Schriftschnitte */
    /* Für hochwertige Image-Drucksachen wie z.B. die Zeugnisse, Urkunden und zu besonderen Anlässen der Hochschule wird die Quadraat Sans in ihren Schriftschnitten verwendet. */
    /* Um die Arbeit intern zu erleichtern, kann als zweite Schrift die Arial verwendet werden. Dies gilt insbesondere für das Web und bei offenen Präsentationen (z. B. Word oder Power Point). */
    /* Lizenzen für die Quadraat können beim Pressesprecher Herrn Grunau, Tel.: (0 4921) 807-10 05, E-Mail: wilfried.grunau@hs-emden-leer.de abgefragt werden */
    /* QuadraatSans */
    /* QuadraatSans regular */
    /* QuadraatSans bold */
    /* QuadraatSans italic */
    /* Arial */
    /* Arial bold */
    /* Arial italic */
    /* Arial bold italic */

    /* ar extension */
    color: #00d100;
    color: #00bd00;
    color: #00af01;

    /* sa-block-color-motion */
    color: #4c97ff;
    color: #4280d7;
    color: #3373cc;
    color: #3373cc;

    /* sa-block-color-turbowarp */
    color: #ff4c4c;
    color: #e64444;
    color: #e64444;
    color: #e64444;

    /* sa-block-color-sidekick */
    color: #76b452;
    color: #62ad44;
    color: #62ad44;
    color: #62ad44;

    color: #90c8cc;
    color: #1e6cab;

    /* motion-primary: #D9D9D9;
motion-tertiary: #F9F9F9;
motion-transparent: #e8edf1; */

    /* motion-tertiary: hsla(145, 60%, 50%, 1); */
    looks-secondary: #855cd6;
    looks-transparent: hsla(260, 60%, 60%, 0.35);

    /* looks-secondary (border) */
    color: 1px solid rgb(76, 151, 255);
    /* looks-transparent (box-shadow) */
    color: 0px 0px 0px 3px hsla(215, 100%, 65%, 0.2);

    /* motion-primary */
    color: rgb(255, 77, 77);
    color: rgb(77, 151, 255);
    color: rgb(77, 255, 151);

    /* motion-tertiary */
    color: rgb(204, 51, 51);
    color: rgb(51, 115, 204);
    color: rgb(51, 204, 115);

    /* ??? 'color: #ff4d4d59', … is not supported by Edge < 79. Microsoft Edge Tools (compat-api/css)? !!! */
    /* motion-transparent */
    color: #ff4d4d59;
    color: #4d97ff59;
    color: #4dff9759;

    /* Main greys */
    /* grey 1 */
    color: #e1e1e1;
    color: #757575; /* shadow version */
    /* grey 2 */
    color: #ababab;
    color: #595959; /* shadow version */
    /* grey 3 */
    color: #575757;
    color: #2d2d2d; /* shadow version (#333) */
    /* grey 4 (#1e1e1e) */
    color: #272727;

    /* Main greens */
    /* green 1 */
    color: #c6ddaf;
    /* green 2 */
    color: #b7d59b;
    /* green 3 */
    color: #63a93d;
    color: #345820; /* shadow version */

    color: #ff4c4c;
    color: #e64444;
    color: #c73a3a;

    color: #29beb8;
    color: #3aa8a4;
    color: #3aa8a4;

    /* defaultExtensionColors */
    color: #0fbd8c;
    color: #0da57a;
    color: #0b8e69;

    /* ui primary */
    color: rgb(242, 242, 242); /* #E5F0FF */
    /* ui primary dark*/
    color: rgb(37, 41, 50);
    /* ui-secondary */
    color: rgb(237, 237, 237); /* #E9F1FC */
    /* ui-tertiary */
    color: rgb(229, 229, 229); /* #D9E3F2 */
    /* ui-tertiary-dark */
    color: rgb(34, 39, 46);

    /* ui */
    color: rgb(233, 241, 252);
    color: rgb(229, 240, 255);
    color: rgb(217, 227, 242);

    /* ui-modal-overlay */
    color: hsla(215, 100%, 65%, 0.5); /* 50% transparent version of motion-primary */
    /* ui-modal-overlay-dark */
    color: hsla(0, 0%, 1%, 0.5);

    /* ui-white */
    color: hsla(0, 100%, 100%, 1); /* #FFFFFF */
    /* ui-white-dim */
    color: hsla(0, 100%, 100%, 0.75); /* 25% transparent version of ui-white */

    /* ui background */
    color: hsl(215, 65%, 55%);
    /* ui background dark */
    color: hsl(214, 13%, 20%);

    /* text-primary */
    color: hsla(225, 15%, 40%, 1);
    color: rgba(87, 94, 117, 1);
    /* text-primary-dark */
    color: rgb(211, 215, 220);

    /* motion primary */
    color: rgb(53, 129, 234); /* #4286F3 */
    /* motion primary dark*/
    color: rgb(45, 51, 59); /* #4C97FF */
    /* motion tertiary */
    color: hsla(215, 60%, 50%, 1); /* #3373CC */

    /* extensions-primary */
    color: hsla(163, 85%, 40%, 1); /* #0FBD8C */
    /* extensions-tertiary */
    color: hsla(163, 85%, 30%, 1); /* #0B8E69 */
    /* extensions-light */
    color: hsla(163, 57%, 85%, 1); /* opaque version of extensions-transparent, on white bg */

    /* drop-highlight */
    color: hsla(215, 100%, 77%, 1); /* lighter than motion-primary */
    /* drop-highlight dark */
    color: rgb(46, 52, 64);

    /* ______________________________________________________________________________________________________________________________ */

    /* red */
    color: #ff661a;
    color: #e64d00;

    /* sound */
    color: #cf63cf;
    color: #bd42bd;

    /* control */
    color: #ffab1a;

    /* error primary */
    /* data */
    color: #ff8c1a;

    /* error light*/
    color: #ffb366;

    /* pen */
    color: #0fbd8c;
    color: #0b8e69;

    /* alert */
    .alert.warn {
        background: #fff0df;
        border: 1px solid #ff8c1a;
        box-shadow: 0px 0px 0px 2px rgba(255, 140, 26, 0.25);
    }
    .alert.success {
        background: #c3efe2;
        border: 1px solid #0b8e69;
        /* box-shadow: 0px 0px 0px 2px rgba(195, 239, 226, 1); */
        box-shadow: 0px 0px 0px 2px rgba(195, 239, 226, 0.25);
    }
    .alert-message {
        color: #555;
        font-weight: bold;
        font-size: 0.8125rem;
        line-height: 0.875rem;
        display: flex;
        align-items: center;
        padding-right: 0.5rem;
    }
}
