/* ui colors */
/* E5F0FF */
/* E9F1FC */
/* D9E3F2 */

/* ui white */
/* FFFFFF */

/* ui black */
/* 000000 */

/* text */
/* 575E75 */

/* motion primary */
/* ui-modal-overlay */
/* 4D97FF */

/* motion tertiary*/
/* 3373CC */

/* motion dark */
/* 333333 */

/* red */
/* FF661A */
/* E64D00 */

/* sound */
/* CF63CF */
/* BD42BD */

/* control */
/* FFAB1A */

/* error primary */
/* data */
/* FF8C1A */

/* error light*/
/* FFB366 */

/* pen */
/* extension primary*/
/* 0FBD8C */

/* pen */
/* extension tertiary*/
/* 0B8E69 */

/* extension light*/
/* C3EFE2 */

/* drop highlight */
/* 8ABBFF */

/* $ui-primary: var(--ui-primary, hsla(215, 100%, 95%, 1)); #E5F0FF */
$ui-primary: var(--ui-primary, hsla(93, 36%, 95%, 1)); /* #E5F0FF */
/* $ui-secondary: var(--ui-secondary, hsla(215, 75%, 95%, 1)); #E9F1FC */
$ui-secondary: var(--ui-secondary, hsla(93, 38%, 90%, 1)); /* #E9F1FC */
/* $ui-tertiary: var(--ui-tertiary, hsla(215, 50%, 90%, 1)); #D9E3F2 */
$ui-tertiary: var(--ui-tertiary, hsla(90, 38%, 84%, 1)); /* #D9E3F2 */

/* $ui-modal-overlay: var(--ui-modal-overlay, hsla(215, 100%, 65%, 0.9)); 90% transparent version of motion-primary */
$ui-modal-overlay: var(--ui-modal-overlay, hsla(95, 40%, 56%, 0.9)); /* 90% transparent version of motion-primary */

/* $ui-white: hsla(0, 100%, 100%, 1); #FFFFFF */
$ui-white: hsla(0, 0%, 95%, 1); /* #FFFFFF */
/* $ui-white-dim: hsla(0, 100%, 100%, 0.75); 25% transparent version of ui-white */
$ui-white-dim: hsla(0, 0%, 95%, 0.75); /* 25% transparent version of ui-white */
/* $ui-white-transparent: hsla(0, 100%, 100%, 0.25); 25% transparent version of ui-white */
$ui-white-transparent: hsla(0, 0%, 95%, 0.25); /* 25% transparent version of ui-white */
/* $ui-transparent: hsla(0, 100%, 100%, 0); 25% transparent version of ui-white !!! CHANGE (to 0 % (instead 25 %)) ??? */
$ui-transparent: hsla(0, 0%, 95%, 0); /* 25% transparent version of ui-white !!! CHANGE (to 0 % (instead 25 %)) ??? */

/* $ui-black-transparent-default: hsla(0, 0%, 0%, 0.15); 15% transparent version of black */
$ui-black-transparent-default: hsla(0, 0%, 34%, 0.15); /* 15% transparent version of black */
/* $ui-black-transparent: var(--ui-black-transparent, $ui-black-transparent-default); */
$ui-black-transparent: var(--ui-black-transparent, $ui-black-transparent-default);

/* $text-primary: var(--text-primary, hsla(225, 15%, 40%, 1)); #575E75 */
$text-primary: var(--text-primary, hsla(0, 0%, 34%, 1)); /* #575E75 */
/* $text-primary-transparent: hsla(225, 15%, 40%, 0.75); */
$text-primary-transparent: hsla(0, 0%, 34%, 0.75);

/* $motion-primary: hsla(215, 100%, 65%, 1); /* #4C97FF */
/* $motion-tertiary: hsla(215, 60%, 50%, 1); #3373CC */
/* $motion-transparent: hsla(215, 100%, 65%, 0.35); 35% transparent version of motion-primary */
/* $motion-light-transparent: hsla(215, 100%, 65%, 0.15); 15% transparent version of motion-primary */
/* $motion-primary: hsla(215, 100%, 65%, 1); #4C97FF */
$motion-primary: hsla(95, 40%, 56%, 1); /* #4C97FF */
/* $motion-tertiary: hsla(215, 60%, 50%, 1); #3373CC */
$motion-tertiary: hsla(103, 44%, 47%, 1); /* #3373CC */
/* $motion-transparent: hsla(215, 100%, 65%, 0.35); 35% transparent version of motion-primary */
$motion-transparent: hsla(95, 40%, 56%, 0.35); /* 35% transparent version of motion-primary */
/* $motion-light-transparent: hsla(215, 100%, 65%, 0.15); 15% transparent version of motion-primary */
$motion-light-transparent: hsla(95, 40%, 56%, 0.15); /* 15% transparent version of motion-primary */

/* !!! ??? */
/* opt-in theme overrides */
/* -$motion-primary-dark: #333; */
/* opt-in theme overrides */
/* $motion-primary-dark: hsla(215°, 0%, 20%, 1); */
/* $motion-primary-dark: hsla(0°, 0%, 34%, 1); */
$motion-primary-dark: hsla(0, 0%, 34%, 1);

/* $ui-primary-light: hsla(215, 100%, 95%, 1); */
$ui-primary-light: hsla(93, 36%, 95%, 1);
/* $ui-secondary-light: hsla(215, 75%, 95%, 1); */
$ui-secondary-light: hsla(93, 38%, 90%, 1);
/* $ui-tertiary-light: hsla(215, 50%, 90%, 1); */
$ui-tertiary-light: hsla(90, 38%, 84%, 1);

$text-primary-light: hsla(0, 0%, 34%, 1);

$red-primary: hsla(20, 100%, 55%, 1); /* #FF661A */
$red-tertiary: hsla(20, 100%, 45%, 1); /* #E64D00 */

$sound-primary: hsla(300, 53%, 60%, 1); /* #CF63CF */
$sound-tertiary: hsla(300, 48%, 50%, 1); /* #BD42BD */

$control-primary: hsla(38, 100%, 55%, 1); /* #FFAB19 */

$data-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */

$pen-primary: hsla(163, 85%, 40%, 1); /* #0FBD8C */
$pen-transparent: hsla(163, 85%, 40%, 0.25); /* #0FBD8C */
$pen-tertiary: hsla(163, 86%, 30%, 1); /* #0B8E69 */

$error-primary: hsla(30, 100%, 55%, 1); /* #FF8C1A */
$error-light: hsla(30, 100%, 70%, 1); /* #FFB366 */
$error-transparent: hsla(30, 100%, 55%, 0.25); /* #FF8C1A */

/* $extensions-primary: hsla(163, 85%, 40%, 1); #0FBD8C */
/* $extensions-tertiary: hsla(163, 85%, 30%, 1); #0B8E69 */
/* $extensions-transparent: hsla(163, 85%, 40%, 0.35); 35% transparent version of extensions-primary */
/* $extensions-light: hsla(163, 57%, 85%, 1); opaque version of extensions-transparent, on white bg */
$extensions-primary: hsla(163, 85%, 40%, 1); /* #0FBD8C */
$extensions-tertiary: hsla(163, 85%, 30%, 1); /* #0B8E69 */
$extensions-transparent: hsla(163, 85%, 40%, 0.35); /* 35% transparent version of extensions-primary */
$extensions-light: hsla(163, 57%, 85%, 1); /* opaque version of extensions-transparent, on white bg */

/* $drop-highlight: hsla(215, 100%, 77%, 1); lighter than motion-primary */
/* $drop-highlight: hsla(215, 100%, 77%, 1); lighter than motion-primary */
$drop-highlight: hsla(187, 40%, 69%, 1); /* lighter than motion-primary */
